<p>player1hand works!</p>
<!-- player1hand.component.html -->

<div class="container">
  <div class="row">
    <div class="col-md-2 mb-3">
      <div class="gray-rectangle"></div>
    </div>
    <div class="col-md-2 mb-3">
      <div class="gray-rectangle"></div>
    </div>
    <div class="col-md-2 mb-3">
      <div class="gray-rectangle"></div>
    </div>
    <div class="col-md-2 mb-3">
      <div class="gray-rectangle"></div>
    </div>
    <div class="col-md-2 mb-3">
      <div class="gray-rectangle"></div>
    </div>
  </div>
</div>
