<!-- player1hand.component.html -->

<!-- the cards from player1hand are mapped to "gray rectangle" the stats property is displayed inside the rectangle
 clicking on the rectangle selects the card. the boarder changes to green-->

<p>player1hand works!</p>
<div class="row mx-auto">
    <div class="col-md-2">
      <div id="P1.1" class="gray-rectangle"></div>
    </div>
    <div class="col-md-2">
      <div id="P1.2" class="gray-rectangle"></div>
    </div>
    <div class="col-md-2">
      <div id="P1.3" class="gray-rectangle"></div>
    </div>
    <div class="col-md-2">
      <div id="P1.4" class="gray-rectangle"></div>
    </div>
    <div class="col-md-2">
      <div id="P1.5" class="gray-rectangle"></div>
    </div>
</div>
