<!-- player2hand.component.html -->

<!-- the cards from player1hand are mapped to "gray rectangle" the stats property is displayed inside the rectangle
 clicking on the rectangle selects the card. the boarder changes to green-->

<p>player2hand works!</p>
<div class="row mx-auto">
  <div *ngFor="let card of player2Hand; let i = index" class="col-md-2">
    <div
      id="P1.{{ i + 1 }}"
      class="gray-rectangle"
      (click)="selectCard(card)"
      [class.selected]="card.selected"
    >
      {{ card.stats }} <!-- Display card stats inside the rectangle -->
    </div>
  </div>
</div>

