<!-- cardgrid.component.html -->

<div class="row justify-content-center">
  <div *ngFor="let row of cardGrid; let i = index" class="col-md-2">
    <div *ngFor="let card of row; let j = index" class="gray-rectangle" (click)="placeCardOnBoard(i, j)">
      {{ card ? card.stats : '' }}
    </div>
  </div>
</div>


<!--
<div class="row justify-content-center">
  <div *ngFor="let row of cardGrid" class="col-md-2">
    <div *ngFor="let card of row" class="gray-rectangle">
      {{ card ? card.stats : '' }}
    </div>
  </div>
  <div class="col-md-2">
    <div id="A2" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="A3" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="A4" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="A5" class="gray-rectangle"></div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-2">
    <div id="B1" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="B2" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="B3" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="B4" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="B5" class="gray-rectangle"></div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-2">
    <div id="C1" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="C2" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="C3" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="C4" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="C5" class="gray-rectangle"></div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-2">
    <div id="E1" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="E2" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="E3" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="E4" class="gray-rectangle"></div>
  </div>
  <div class="col-md-2">
    <div id="E5" class="gray-rectangle"></div>
  </div>
</div>
-->

